@-moz-viewport {
  width: device-width;
  scale: 1;
}
@-ms-viewport {
  width: device-width;
  scale: 1;
}
@-o-viewport {
  width: device-width;
  scale: 1;
}
@-webkit-viewport {
  width: device-width;
  scale: 1;
}
@viewport {
  width: device-width;
  scale: 1;
}
/* line 9, ../../sass/components/main.scss */
html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

/* line 18, ../../sass/components/main.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 22, ../../sass/components/main.scss */
img {
  width: 100%;
  display: block;
}

/* accessibility */
/* line 29, ../../sass/components/main.scss */
.skip-links a {
  position: absolute;
  top: -3em;
  z-index: 1003;
  font-size: 1em;
  padding: 10px;
}

/* line 37, ../../sass/components/main.scss */
.skip-links a:focus {
  top: 0;
}

/* line 41, ../../sass/components/main.scss */
a:focus {
  background-color: #000;
  outline: 3px solid #fff;
}

/* main css */
/* line 47, ../../sass/components/main.scss */
body {
  margin: 0;
  padding: 0;
  background-color: #F8B0C8;
  /* background-color: #1a1a1a; */
}

/* line 54, ../../sass/components/main.scss */
.main-body {
  margin: 30px;
}

/* line 59, ../../sass/components/main.scss */
.crystal-background {
  margin: 0 auto;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
}

/* line 66, ../../sass/components/main.scss */
.crystals {
  position: relative;
  z-index: 1000;
}

/* line 71, ../../sass/components/main.scss */
.nav {
  overflow: hidden;
}

/* line 75, ../../sass/components/main.scss */
a {
  list-style-type: none;
  text-decoration: none;
  color: #e6e6e6;
  cursor: pointer;
}

/* line 82, ../../sass/components/main.scss */
li {
  text-align: center;
  list-style-type: none;
}

/* line 87, ../../sass/components/main.scss */
.hamburger {
  position: absolute;
  margin: 0;
  height: 40px;
  width: 40px;
  right: 10px;
  z-index: 1002;
  cursor: pointer;
}

/* line 97, ../../sass/components/main.scss */
.js-panel-down {
  max-height: 3.5em;
}

/* line 101, ../../sass/components/main.scss */
.nav-menu {
  padding: .25rem;
  width: 4em;
}

/* line 106, ../../sass/components/main.scss */
.title {
  margin: 0;
  padding: 0;
  position: absolute;
  left: calc(50% - 107px);
  width: 215px;
  font-size: 4em;
  color: white;
  top: 0;
  z-index: 1001;
  text-align: center;
}

/*  header */
/* line 120, ../../sass/components/main.scss */
h1:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  text-shadow: 0 0 4px #FFFFFF;
  color: rgba(255, 255, 255, 0);
  transition: all 3s ease;
}

/* line 128, ../../sass/components/main.scss */
h1 {
  transition: all 2s ease-out;
}

/* line 132, ../../sass/components/main.scss */
.quote {
  font-size: 1.5em;
  letter-spacing: 3px;
  color: #FFF000;
  padding: 0;
  margin: 0;
}

/* line 140, ../../sass/components/main.scss */
.quote-back {
  background-color: #ED1584;
  padding: 10px;
  margin-bottom: 24px;
}

/* line 147, ../../sass/components/main.scss */
.drop-1 {
  /* mobile */
  position: absolute;
  margin: 0;
  height: 30px;
  width: 40px;
  left: 65px;
  top: 2px;
  -webkit-animation: drop-again 10s ease-in infinite;
  animation: drop-again 10s ease-in infinite;
}

/* line 158, ../../sass/components/main.scss */
.drop-2 {
  position: absolute;
  margin: 0;
  height: 30px;
  width: 40px;
  left: 120px;
  top: 20px;
  -webkit-animation: drop-again 8s ease-in infinite;
  animation: drop-again 8s ease-in infinite;
}

/* line 169, ../../sass/components/main.scss */
.drop-3 {
  position: absolute;
  margin: 0;
  height: 30px;
  width: 40px;
  left: 250px;
  top: 50px;
  -webkit-animation: drop-again 6s ease-in infinite;
  animation: drop-again 6s ease-in infinite;
}

@-webkit-keyframes drop-again {
  /* mobile */
  0% {
    -webkit-transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    -webkit-transform: translateY(100px);
    opacity: 0;
  }
}
@keyframes drop-again {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  70% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(100px);
    opacity: 0;
  }
}
/* line 193, ../../sass/components/main.scss */
.text {
  font-size: 18px;
  color: #CC1A6D;
  /* color: #e6e6e6;*/
}

/* line 200, ../../sass/components/main.scss */
.panel {
  padding: 0;
  margin: 0;
  max-height: 0;
  overflow: hidden;
  transition: all 280ms ease-out;
}

/* line 208, ../../sass/components/main.scss */
.two-illustration {
  width: 200px;
  display: block;
  margin: 0 auto;
}

/* line 215, ../../sass/components/main.scss */
.st0 {
  fill: #027F80;
}

/* line 218, ../../sass/components/main.scss */
.st1 {
  fill: #5AC6D1;
}

/* line 222, ../../sass/components/main.scss */
.st2 {
  fill: #064040;
}

/* line 226, ../../sass/components/main.scss */
.st3 {
  fill: #000;
}

/* line 230, ../../sass/components/main.scss */
.st4 {
  fill: #FFFFFF;
}

/* line 233, ../../sass/components/main.scss */
#star-4 {
  -webkit-animation: twinkle-vone 4s ease alternate infinite;
  animation: twinkle-vone 4s ease alternate infinite;
}

/* line 238, ../../sass/components/main.scss */
#star-3 {
  -webkit-animation: twinkle-vone 5s ease alternate infinite;
  animation: twinkle-vone 5s ease alternate infinite;
}

/* line 243, ../../sass/components/main.scss */
#star-2 {
  -webkit-animation: twinkle-vone 6s ease alternate infinite;
  animation: twinkle-vone 6s ease alternate infinite;
}

/* line 248, ../../sass/components/main.scss */
#star-1 {
  -webkit-animation: twinkle-vone 3s ease alternate infinite;
  animation: twinkle-vone 3s ease alternate infinite;
}

@-webkit-keyframes twinkle-vone {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 50;
  }
  100% {
    opacity: 0;
  }
}
@keyframes twinkle-vone {
  0% {
    opacity: 100;
  }
  50% {
    opacity: 50;
  }
  100% {
    opacity: 0;
  }
}
/* line 266, ../../sass/components/main.scss */
.to-top-image {
  height: 60px;
  width: 50px;
  margin: auto;
}

/* line 273, ../../sass/components/main.scss */
.final-words:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  text-shadow: 0 0 4px #FFFFFF;
  color: rgba(255, 255, 255, 0);
}

/* line 281, ../../sass/components/main.scss */
.final-words {
  text-shadow: 0 0 0px #FFFFFF;
  color: rgba(255, 255, 255, 0);
  transition: all 3s ease-in;
}

@media only screen and (min-width: 25em) {
  /* line 290, ../../sass/components/main.scss */
  h1:hover {
    text-shadow: 0 0 8px #FFFFFF;
    transition: all 3s ease;
  }

  /* line 295, ../../sass/components/main.scss */
  h1 {
    transition: all 1s ease-out;
  }

  /* line 299, ../../sass/components/main.scss */
  .hamburger {
    height: 50px;
    width: 50px;
    right: 20px;
  }

  /* line 305, ../../sass/components/main.scss */
  .title {
    font-size: 6em;
  }

  /* line 309, ../../sass/components/main.scss */
  .drop-1 {
    height: 50px;
    width: 50px;
    left: 30px;
    -webkit-animation: drop-again 7s ease-in infinite;
    animation: drop-again 7s ease-in infinite;
  }

  /* line 317, ../../sass/components/main.scss */
  .drop-2 {
    height: 50px;
    width: 50px;
    left: 200px;
    -webkit-animation: drop-again 9s ease-in infinite;
    animation: drop-again 9s ease-in infinite;
  }

  /* line 325, ../../sass/components/main.scss */
  .drop-3 {
    height: 50px;
    width: 50px;
    left: 380px;
    top: 30px;
    -webkit-animation: drop-again 4s ease-in infinite;
    animation: drop-again 4s ease-in infinite;
  }

  @-webkit-keyframes drop-again {
    /* tablet */
    0% {
      -webkit-transform: translateY(0px);
      opacity: 1;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      -webkit-transform: translateY(200px);
      opacity: 0;
    }
  }
  @keyframes drop-again {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      transform: translateY(200px);
      opacity: 0;
    }
  }
  /* line 346, ../../sass/components/main.scss */
  .two-illustration {
    width: 300px;
  }

  /* line 350, ../../sass/components/main.scss */
  .main-body {
    margin: 55px;
  }
}
@media only screen and (min-width: 38em) {
  /* line 359, ../../sass/components/main.scss */
  .title {
    font-size: 11em;
    left: calc(50% - 160px);
  }

  /* line 364, ../../sass/components/main.scss */
  .drop-1 {
    height: 60px;
    width: 50px;
    left: 50px;
  }

  /* line 370, ../../sass/components/main.scss */
  .drop-2 {
    height: 60px;
    width: 50px;
    left: 350px;
  }

  /* line 376, ../../sass/components/main.scss */
  .drop-3 {
    height: 60px;
    width: 50px;
    left: 650px;
    top: 50px;
  }

  @-webkit-keyframes drop-again {
    0% {
      -webkit-transform: translateY(0px);
      opacity: 1;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      -webkit-transform: translateY(450px);
      opacity: 0;
    }
  }
  @keyframes drop-again {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      transform: translateY(450px);
      opacity: 0;
    }
  }
  /* line 395, ../../sass/components/main.scss */
  .two-illustration {
    width: 550px;
  }

  /* line 399, ../../sass/components/main.scss */
  .main-body {
    margin: 85px;
  }
}
@media only screen and (min-width: 60em) {
  /* line 408, ../../sass/components/main.scss */
  .title {
    font-size: 13em;
    left: calc(50% - 190px);
  }

  /* line 413, ../../sass/components/main.scss */
  .drop-1 {
    height: 80px;
    width: 50px;
    left: 100px;
  }

  /* line 419, ../../sass/components/main.scss */
  .drop-2 {
    height: 80px;
    width: 50px;
    left: 600px;
  }

  /* line 425, ../../sass/components/main.scss */
  .drop-3 {
    height: 80px;
    width: 50px;
    left: 1200px;
    top: 50px;
  }

  @-webkit-keyframes drop-again {
    0% {
      -webkit-transform: translateY(0px);
      opacity: 1;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      -webkit-transform: translateY(700px);
      opacity: 0;
    }
  }
  @keyframes drop-again {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    70% {
      opacity: 0.9;
    }
    100% {
      transform: translateY(700px);
      opacity: 0;
    }
  }
  /* line 444, ../../sass/components/main.scss */
  .two-illustration {
    width: 800px;
  }

  /* line 448, ../../sass/components/main.scss */
  .main-body {
    margin: 100px 100px 100px 100px;
  }

  /* line 452, ../../sass/components/main.scss */
  .wide-screen {
    margin: 0 160px 1.5em 160px;
  }

  /* line 456, ../../sass/components/main.scss */
  .quote {
    font-size: 3em;
  }

  /* line 460, ../../sass/components/main.scss */
  .quote-back {
    padding: 20px;
  }
}
